.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  background-color: #778ca3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
}

.cart-container {
  background-color: #1289A7;
  font-size: 25px;
  font-weight: bolder;
}