.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  background-color: #778ca3;
  height: 900px;
}

.cart-container {
  background-color: #1289A7;
  height: 900px;
}