.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.products-container {
  background-color: #778ca3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
}

.cart-container {
  background-color: #1289A7;
  font-size: 25px;
  font-weight: bolder;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pagination button {
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #365372;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 4px;
}

.pagination .selected {
  background-color: #4fa0f7;
  border-radius: 10px;
  color: black;
}

.option {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: rgb(208, 217, 225);
}